<%- include('header'); -%>

<!-- Standout Ribbon Section -->
<div class="text-white container-fluid d-flex justify-content-center align-items-center" id="caps"
style="background-image: url('/images/Background.png'); background-size: cover; height: 33vh;">
<div class="row justify-content-center">
    <div class="col-m-12 mx-auto text-center py-5">
        <p style="font-size: 5.5rem">Connect, share and learn</p>
        <p style="font-size: 2.5rem">Bringing together the top talent in Data!</p>
    </div>
</div>
</div>

<!-- Main Content Section -->
<main>
    <div class="container-fluid">
        <div class="row">
            <!-- First column (one-third of the screen width) -->
            <div class="col-md-4 p-5">
                <img src="Breaky Panel.jpg" alt="Description of Image" class="rounded-image"
                    style="max-width: 100%; height: auto;">
            </div>

            <!-- Second column (two-thirds of the screen width) -->
            <div class="col-md-8 mb-5 d-flex align-items-center justify-content-center"
                style="background-color: #c7dee6; height: auto;">
                <div>
                    <h1><strong>Adopting new technologies whilst building foundations</strong></h1>
                    <ul style="list-style-position: inside;">
                        <li>Do you want to take advantage of new tech?</li>
                        <li>Do you also need to build foundational data & analytics infrastructure?</li>
                        <li>Do you want to know how to balance both for maximum value?</li>
                    </ul>
                    <div class="mt-4">
                        <a href="/contact" class="btn btn-primary btn-lg">Sign Up Now</a>
                    </div>
                </div>  
            </div>
        </div>  
        <div class="row">
            <!-- Second column (two-thirds of the screen width) -->
            <div class="col-md-8 mb-5 d-flex align-items-center justify-content-center"
                style="background-color: #c7dee6; height: auto;">
                <div>
                    <h1><strong>Workshop: Data modelling architectures</strong></h1>
                    <ul style="list-style-position: inside;">
                        <li>Kimball Vs Inmon</li>
                        <li>Data-vault and Data-mesh</li>
                        <li>Governance</li>
                    </ul>
                    <div class="mt-4">
                        <a href="/contact" class="btn btn-primary btn-lg">Sign Up Now</a>
                    </div>
                </div>
            </div>
            <!-- First column (one-third of the screen width) -->
            <div class="col-md-4 p-5">
                <img src="Workshop.jpg" alt="Description of Image" class="rounded-image"
                    style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
</main>

<%- include('footer'); -%>