<!-- Footer Section -->
<footer class="text-center mt-auto">
    <div class="container-fluid text-white" style="background-color: #7B7B7D;">
        
        <div class="row">
            <div class="col-12">
                <p class="mb-0">&copy; 2024 Thought Collective</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap JS and Initialization Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Initialize all tooltips on the page after the DOM is fully loaded
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
</body>
</html>
