<%- include('header'); -%>

<!-- Standout Ribbon Section -->
<div class="text-white container-fluid d-flex justify-content-center align-items-center" id="caps"
            style="background-image: url('Background.png'); background-size: cover; height: 33vh;">
            <div class="row justify-content-center">
                <div class="col-m-12 mx-auto text-center py-5">
                    <p style="font-size: 5.5rem">Connect, share and learn</p>
                    <p style="font-size: 2.5rem">Bringing together the top talent in Data!</p>
                </div>
            </div>
        </div>

<main>
    <!-- Key Product Highlights -->
    <div class="container-fluid p-0">
        <div class="row g-0">
            <img src="Key Product 1.png" alt="Description of the image" class="img-fluid w-100">
        </div>
        <hr>
        <div class="row g-0">
            <img src="Key Product 2.png" alt="Description of the image" class="img-fluid w-100">
        </div>
        <hr>
        <div class="row g-0">
            <img src="Key Product 3.png" alt="Description of the image" class="img-fluid w-100">
        </div>
    </div>
</main>

<%- include('footer'); -%>
